
.text-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: grey;
    color: white;
}

* {
    text-align: center;
}

.toggleSwitch {
    display: flex;
    justify-content: center;
}

#switch {
    background-color: pink;
    border-radius: 30px;
    border: none;
    width: 60px;
    height: 30px;
    display: flex;
}
.right {
    display: flex;
    justify-content: center;
    margin-left: -55px;
    margin-top: 3px;
}
#moon {

}

